RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1

RewriteRule ^(produto)/([^/]*)/([^/]*)(/.*)?$ produto.php?id=$2&slug=$3 [L,QSA,NC]

RewriteRule ^(blog)/([^/]*)/([^/]*)(/.*)?$ blog.php?id=$2&slug=$3 [L,QSA,NC]